@mixin _1200 {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin _979 {
    @media (max-width: 979px) {
        @content;
    }
}

@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin _480 {
    @media (max-width: 480px) {
        @content;
    }
}


@mixin _320 {
    @media (max-width: 320px) {
        @content;
    }
}