@import url('reset.css');
@import 'variables';
@import 'media_mixin';
 
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.header {
    .menu {
        padding: 50px 0 58px;

        @include _480 {
            padding: 22px 0;
        }
        #menu-toggle {
            opacity: 0;
        }
        @include _480 {
            &-btn {
                display: flex;
                align-items: center;
                padding: 14px;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                right: 0;
                width: 44px;
                height: 37px;
                background: #000000;
                cursor: pointer;
                z-index: 1;
                span, span::before, span::after {
                    display: block;
                    position: absolute;
                    width: 17px;
                    height: 2px;
                    background-color: #ffffff;
                    transition-duration: .25s;
                };
                span::before {
                    content: '';
                    top: -7px;
                }
                span::after {
                    content: '';
                    top: 7px;
                }
            }
            #menu-toggle {
                &:checked~.menu-btn>span {
                    transform: rotate(45deg);
                }
                &:checked~.menu-btn>span::before {
                    top: 0;
                    transform: rotate(0);
                }

                &:checked~.menu-btn>span::after {
                    top: 0;
                    transform: rotate(90deg);
                }

                &:checked~.menu__list {
                    visibility: visible;
                    right: 0;
                }
            }
        }

        &__list {
            max-width: 806px;
            margin: auto;
            display: flex;
            justify-content: space-between;

            @include _979 {
                max-width: 600px;
            }

            @include _480 {
                display: block;
                position: fixed;
                visibility: hidden;
                top: 37px;
                right: -100%;
                width: 183px;
                margin: 0;
                list-style: none;
                background-color: #F5F5F5;
                transition-duration: .25s;
            }
    
            .menu__item {
                font-weight: 400;
                font-size: 11px;
                line-height: 22px;
                letter-spacing: 1.1px;
                text-transform: uppercase;
                
                @include _480 {
                    padding: 5px 12px;
                    &:hover {
                        background: #E5E5E5;
                        .menu__link {
                            color: $text-color-hover;
                        }
                    }
                }
                .menu__link {
                    text-decoration: none;
                    color: $text-color-dark;
    
                    &:hover {
                        color: $text-color-hover;
                    }
                }
            }
        }
    }

    &__img {
        width: 100%;
    }   
}

.posts {
    padding: 68px 0;
    &__title {
        margin-bottom: 28px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 55px;

        @include _768 {
            grid-template-columns: 1fr;
            max-width: 555px;
        }
    }
    &__item {
        display: flex;
        gap: 20px;

        @include _320 {
            display: block;
        }

        &-img {
            max-width: 160px;
            max-height: 140px;
            object-fit: cover;
        }
    }
    .item-text__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: $text-color-dark;
    }
    .item-text__desr {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
    }
    .item-text__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        margin-top: 13px;

        @include _320 {
            display: none;
        }
    }
}

.section-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $text-color-dark;
}

.instagram {
    background-color: #f7f7f7;
    padding: 48px 0;

    @include _480 {
        background-color: #ffffff;
        padding: 18px 0;
    }
    .title-wrapper {
        display: flex;
        justify-content: space-between;
        .instagram-title {
            @include _480 {
                display: none;
            }
        }
        .small-size {
            display: none;
            @include _480 {
                display: block;
            }
        }
    }
    &-wrapper {
        margin-bottom: 28px;

        @include _768 {
            margin-bottom: 40px;
        }

        @include _480 {
            margin-bottom: 18px;
        }
    } 
    &__link {
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;  
        text-decoration: none; 
        color: $text-color-dark;

        @include _480 {
            display: none;
        }
    }
    .img-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @include _768 {
            grid-template-columns: repeat(3, 1fr);
        }

        @include _480 {
            grid-template-columns: 1fr;
        }
    }
    &__img {
        width: 100%;
        object-fit: cover;
        &:last-child {

            @include _768 {
                display: none;
            }
        }
        &:not(:first-child) {

            @include _480 {
                display: none;
            }
        }
    }
}

.footer {
    margin: auto;
    padding: 66px 0 70px;
    text-align: center;
    background: #000000;
    &__title {
        color: #FEFEFE;
        margin-bottom: 22px;
    }
    &__text {
        max-width: 684px;
        margin: 0 auto 38px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $text-color-light;
    }
    &__contacts {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #B9B9B9;

        @include _480 {
            max-width: 250px;
            margin: auto;
        }
        a {
            position: relative;
            color: #B9B9B9;
            text-decoration: none;
            padding: 0 14px;
            &:not(:last-child)::after {
                content: '/';
                position: absolute;
                right: -6px;
            }
        }
        span {
            position: relative;
            padding: 0 14px;
            &::after {
                content: '/';
                position: absolute;
                right: -6px;
            }
        }
        
    }
    .social-links-wrapper {
        max-width: 192px;
        margin: 0 auto 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}